<h2>Title:</h2>
<p>
  <%= session.title %>
</p>

<h2>Start at:</h2>
<p>
  <%= session.start_at %>
</p>

<h2>Time in minutes:</h2>
<p>
  <%= session.time_in_minutes %>
</p>

<h2>Abstract:</h2>
<p>
  <%= session.abstract %>
</p>
